*{
    margin: 0;
    padding: 0;
}

body{
    padding: 0px;
    margin: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.container{
    background-color: rgb(0, 149, 255);
    padding: 80px;
    padding-left: 110px;
    padding-right: 110px;
    border-radius: 20px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#count{
font-size: 6rem;
margin-bottom: 1rem;
color: white;
}

.buttons button{
   font-size: 1.2rem;
   margin: 0 10px;
   padding: 0.6rem 1.2rem;
   text-decoration: none;
   border: none;
   cursor: pointer;
   color: black;
   border-radius: 8px;
   font-weight: bolder;
   background-color: rgb(248, 255, 150);
   transition: 0.2s ease;
}

.buttons button:hover{
    background: #78b9ff;
}

.buttons button#reset{
    background-color: #ff3939;
}

.buttons button#reset:hover{
    background-color: #ffa2a2;
}